@import url('header.css');
@import url('button.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    width: 100%;
    padding: 1.6rem 1.6rem;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button--new-post {
    width: 100%;
    padding: 1.6rem 1.6rem;
    font-size: 1.6rem;
    color: #5E6EBA;
    font-weight: 700;
}

.link--new-post {
    text-decoration: none;
}

.link--new-post:hover {
    color: #354079;
}

.list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
}

.list__item--post {
    padding: 1.6rem 1.6rem;
}

.list__item--link {
    text-decoration: none;
    color: black;
}

.list__item--link:hover {
    color: #354079;
}

.list__item--image-container {
    width: 100%;
}

.list__item--image {
    max-width: 100%;
    height: auto;
}

.list__item--text-container {
    padding: 1rem 0 1rem 0;
}