@import url('nav-menu.css');
@import url('sidebar.css');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    padding: 1.6rem 1.6rem;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0 4rem 0;
}

/* Logotype to homepage */
.logotype {
    color: black;
}

.logotype:hover {
    color: #46549e;
}

/* Button to open sidebar */
.sidebar__button--open {
    border: none;
    background: none;
    cursor: pointer;
}

.sidebar__button--open:hover {
    color: #46549e;
}