@import url('base.css');
@import url('header.css');
@import url('button.css');

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container--show-form {
    width: 100%;
    padding: 0 1.6rem 0 1.6rem;
}

.button--show-form {
    padding: 1rem 1rem;
    font-size: 1.6rem;
    font-weight: 700;
}

.list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.image-list__item {
    width: 48%;
    height: auto;
    margin-bottom: 4%;
}

.main {
    position: relative;
}

.form-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }

  .form {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }

  .form label {
    font-size: 1.6rem;
  }

  .form__input {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }

  .form__input:focus {
    background-color: #ddd;
    outline: none;
  }

  .form__button {
    background-color: #5E6EBA;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }

  #button_cancel {
    background-color: #f50057;
  }

  .form__button:hover {
    opacity: 1;
  }

  .form-container-edit {
    display: none;
  }
