@import url('header.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

.main-container {
    width: 100%;
    padding: 1.6rem 1.6rem;
}

.list--news {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.list__item--news {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0 0 0;
}

.list__item--link {
    width: 100%;
    text-decoration: none;
    color: black;
    height: auto;
}

.list__item--link:hover {
    text-decoration: underline;
    color: blue;
}

.image__container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.list__item--image {
    width: 50%;
    height: auto;
}

.list__item--text {
    width: 100%;
}

.list__item--text p {
    width: 50%;
}

.list__item--text h2 {
    padding: 1rem 0;
}