@import url('base.css');

body {
    min-height: 100vh;
}

main {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    outline: auto;
}


/* Form to login or register a new user */
.form__input-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}


/* Button in the form */
.form__button-container {
    display: flex;
    outline: auto;
}

.form__button {
    flex-grow: 1;
}