.header__nav-button {
    padding: .5em .5em;
    border-width: 1px;
    background-color: white;
    border: none;
    cursor: pointer;
    margin: 0 1rem;
}

.header__nav-button:hover {
    color: #46549e;
}